*{
    margin: 0;
    padding: 0;
}
/* font-family: 'Poppins', sans-serif; */
body{
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    
    color: rgba(0,0,0,.55);
    font-family: 'Poppins', sans-serif;
}

.hero_section{
    background-color: #F0FFF0;
   
}
.navbar-brand img{
    width: 25%;
}
.btn-custom {
    background: #21B573;
    border-radius: 24px;
    padding: 6px 30px;
    color: #fbfbfb;
    box-shadow: inset 0px 0px 2px black;
}
.btn-custom:hover{
    background-color: #0e8851;
   
}

}
.hero_section h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}
.hero_section h5{

font-family: Poppins;

font-style: normal;

font-weight: normal;

font-size: 16px;

line-height: 24px;

color: rgb(248, 51, 51);
}
.hero_section  span{
    color: #21B573;
}
.feature_content{
    background: #F8FFFB;
    border-radius: 10px;
    text-align: center;
    padding: 50px 20px;
}
.feature_content:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


}
.feature_content img{
    
width: 25%;
}
.feature_content h2{
    
font-size: 24px;
    
line-height: 36px;
    
padding-top: 9px;
}
.feature_content p{
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.course_section{

}
.course_section h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color:  #413960;
    text-align: center;
    padding-bottom: 15px;
}
.course{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin: 0px 16px;
}
.course img{
    text-align: center;

}
.course h2{

font-weight: 500;

font-size: 24px;

line-height: 36px;

color: #413960;
}
.course p{

font-size: 16px;

line-height: 24px;

color: #585859;
}
.course_btn{
    background: #21B573;
    color: #fff;
    padding: 8px 28px;
    border-radius: 31px;
    margin-bottom: 12px;
}
.course_btn:hover{
    background: #0f9659;
}
.course ul{
    margin: 0;padding: 0;list-style: none;display: flex;justify-content: space-between;
}
.course ul li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.course ul li i{

margin-right: 10px;    

}
.testimonial{
    
}
.testimonial h1{
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
}
.testimonial img{
    
width: 60%;
margin-left: 82px;
}
.testimonial h5{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}
.footer_section{
    background: #282531;
}
.footer_section h6{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer_section ul{
    list-style: none;
}
.footer_section ul li{
    font-size: 18px;
    line-height: 30px;
    color: #e8e5e5;
    padding: 5px 0px;
}
.footer_section ul li:first-child{
    font-weight: bold;
}
.footer_section h6{
    color: #fff;
}